<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a><span class="post-author">Posted by: {{user.username}} on {{format_date created_at}} </span>
    </div>
    <div class="post-body">
        <p>{{post_text}}</p>
        |
        <a href="/post/{{id}}">{{comments.length}} comments</a>
    </div>
</article>